@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
    <div class="col-md">
        @await Html.PartialAsync("NewCategory", new Category())
    </div>
    
    <div class="col-md">
        @await Html.PartialAsync("AllCategories")
    </div>
</div>