@model Product

<div class="container w-75 mx-auto">
    <h2 class="text-center">New Product</h2>

    <form 
    class="shadow p-3 rounded" 
    asp-controller="Product" 
    asp-action="CreateProduct" 
    method="POST">

        <div class="mb-3">
            <label asp-for="Name"></label>
            <span class="text-danger" asp-validation-for="Name"></span>
            <input asp-for="Name" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="Description"></label>
            <span class="text-danger font-weight-bold" asp-validation-for="Description"></span>
            <input asp-for="Description" class="form-control">
        </div>

        <div class="mb-3">
            <label asp-for="Price"></label>
            <span class="text-danger" asp-validation-for="Price"></span>
            <input asp-for="Price" class="form-control">
        </div>
        
        <input type="submit" value="Create">
    </form>

</div>