@{
    ViewData["Title"] = "Home Page";
}

<div class="row mt-5">
    <div class="col-md">
        @await Html.PartialAsync("NewProduct", new Product())
    </div>
    
    <div class="col-md">
        @await Html.PartialAsync("AllProducts")
    </div>
</div>